body {
  padding: 0;
  text-align: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background.png);
  background-size: cover;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

#lives {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap:10px;
}

.heart {
    width: 30px;
    height: auto;
}

#game-end {
  display: none;
}