/*
    blue sky: #b4e9f9;
    brown text: #5b4842;
    cream button: #fdf2d5;
    orange button: #f17445;
*/

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#game-start,
#game-screen,
#game-end {
    width: 100%;
    height: 470px;
    display: none;
}

#game-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fdf2d5; */
}

.logo-img {
  width: 350px;
  margin-top: 50px;
}

.game-instructions {
    font-size: 15px;
    color: #5b4842;
    text-align: center;
    margin-top: 30px;
    line-height: 4px;
}

#start-button,
#restart-button {
    background-color: #f17445;
    color: #fdf2d5;
    /* border: 3px solid #80502c;*/
    border: none; 
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.start-page-alpaca {
    width: 265px;
    height: auto;
    margin-left: auto;
    margin-top: -300px;
}

#game-screen {
    background-color: #b4e9f9;
    position: relative;
    overflow: hidden;
}

#cloud-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;  
  pointer-events: none; 
  overflow: visible;
}

.cloud {
  position: absolute;
  left: 100%; 
  animation: cloudMove linear forwards;
  opacity: 0.9;
}

@keyframes cloudMove {
  from { transform: translateX(0); }
  to   { transform: translateX(-120vw); }
}

/* #mountain-container {
  position: absolute;
  top: 305px;
  left: 0;
  width: 100%;
  height: 200px;  
}

.mountain {
  position: absolute;
  left: 100%; 
  animation: mountainMove linear forwards;
  opacity: 0.9;
}

@keyframes mountainMove {
  from { transform: translateX(0); }
  to   { transform: translateX(-120vw); }
} */

#mountain {
    position: absolute;    
    bottom: 50px;
    width: 200%;
    height: 150px;
    background-image: url('../images/mountain.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: mountainMove 60s linear infinite;
}

@keyframes mountainMove {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}



#lives {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap:10px;
}

.heart {
    width: 30px;
    height: auto;
}

#score {
    position: absolute;
    top: 20px;     
    right: 20px;     
    font-size: 24px;
    font-weight: bold;
    color: #5b4842;    
}


#ground {
    position: absolute;    
    bottom: 0;
    width: 200%;
    height: 65px;
    background-image: url('../images/ground.png');
    background-repeat: repeat-x;
    animation: groundScroll 2s linear infinite;
}

@keyframes groundScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


#game-end {
    display: none;
    align-items: center;           
    justify-content: center;       
    height: 100vh;
    background-color: #fdf2d5;
}

.game-over-content {
    display: flex;
    align-items: center;           
    gap: 50px;                     
}

.game-over-text {
    display: flex;
    flex-direction: column;        
    align-items: flex-start;      
    gap: 20px;
}

.game-over-text h1 {
    font-size: 48px;
    margin: 0;
    color: #5b4842;
}

.alpaca-resting {
    height: 400px;                 
    width: auto;
}

/* alpaca running */
.alpaca-running {
    position: absolute;
    animation: runMove 0.5s steps(2) infinite;
}

@keyframes runMove {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-2px) rotate(-1deg); }
    100% { transform: translateY(0) rotate(0deg); }
}
