/*
    blue sky: #b4e9f9;
    brown text: #5b4842;
    cream button: #fdf2d5;
    orange button: #f17445;
*/

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#game-start,
#game-screen,
#game-end {    
    width: 1000px;
    height: 470px; 
    margin: 20px auto; 
    display: none;
}

#game-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fdf2d5;
}

.logo-img {
  width: 350px;
  margin-top: 50px;
}

.game-instructions {
    font-size: 15px;
    color: #5b4842;
    text-align: center;
    margin-top: 30px;
    line-height: 6px;
}

#player-name {
    width: 300px;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b6aba7;
    border-radius: 4px;
    box-sizing: border-box;
}

#player-name:focus {
    outline: none;
    box-shadow: 0px 0px 4px #f17445;
}

#start-button,
#restart-button {
    background-color: #f17445;
    color: #fdf2d5;
    border: none; 
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.start-page-alpaca {
    width: 265px;
    height: auto;
    margin-left: 620px;
    margin-top: -390px;
}

#game-screen {
    background-color: #b4e9f9;
    position: relative;
    overflow: hidden;
}

.cloud {
  position: absolute;
  height: auto;
  animation: cloudMove 8s linear infinite;
}

.c1 { top: 10px; width: 80px; animation-duration: 18s; }
.c2 { top: 80px; width: 30px; animation-duration: 25s; }
.c3 { top: 200px; width: 60px; animation-duration: 38s; }

@keyframes cloudMove {
  from { left: 100%; }  
  to { left: -100px; }   
}

#mountain {
    position: absolute;    
    bottom: 50px;
    width: 200%;
    height: 150px;
    background-image: url('../images/mountain.png');
    background-repeat: repeat-x;
    background-size: contain;
    animation: mountainMove 60s linear infinite;
}

@keyframes mountainMove {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

#lives {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap:10px;
}

.heart {
    width: 30px;
    height: auto;
}

#score {
    position: absolute;
    top: 20px;     
    right: 20px;     
    font-size: 24px;
    font-weight: bold;
    color: #5b4842;    
}

.alpaca-running {
    position: absolute;
    animation: runMove 0.5s steps(2) infinite;
}

@keyframes runMove {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-2px) rotate(-1deg); }
    100% { transform: translateY(0) rotate(0deg); }
}

#ground {
    position: absolute;    
    bottom: 0;
    width: 200%;
    height: 65px;
    background-image: url('../images/ground.png');
    background-repeat: repeat-x;
    animation: groundScroll 2s linear infinite;
}

@keyframes groundScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

#game-end {
    display: none;
    align-items: center;           
    justify-content: center;       
    /* height: 100vh; */
    background-color: #fdf2d5;
}

.game-over-content {
    display: flex;
    align-items: center;           
    gap: 50px;                     
}

.game-over-text {
    display: flex;
    flex-direction: column;        
    align-items: flex-start;      
    color: #5b4842;
}

.game-over-text h1 {
    font-size: 48px;
    margin: 0;
}

.final-score{
    margin: 10px 0 0 0;
}

#high-scores {
    margin: 0;
    font-weight: bolder;
    text-decoration: none;
}

.alpaca-resting {
    height: 400px;                 
    width: auto;
}
