/*
    blue sky: #b4e9f9;
    brown text: #5b4842;
    cream button: #fdf2d5;
    orange button: #f17445;
*/

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#game-start,
#game-screen,
#game-end {
    width: 100%;
    height: 470px;
    display: none;
}

#game-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fdf2d5; */
}

.logo-img {
  width: 350px;
  margin-top: 50px;
}

.game-instructions {
    font-size: 15px;
    color: #5b4842;
    text-align: center;
}

#start-button,
#restart-button {
    background-color: #f17445;
    color: #fdf2d5;
    /* border: 3px solid #80502c;*/
    border: none; 
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.start-page-alpaca {
    width: 265px;
    height: auto;
    margin-left: auto;
    margin-top: -300px;
}

#game-screen {
    background-color: #b4e9f9;
    position: relative;
    overflow: hidden;
}

/* allow the clouds to move freely + applies an animation */
.cloud {
  position: absolute;
  animation: cloudMove 8s linear infinite;
}

/* adds the position and the speed */
.c1 { top: 10px; width: 80px; animation-duration: 18s; }
.c2 { top: 80px; width: 30px; animation-duration: 25s; }
.c3 { top: 200px; width: 60px; animation-duration: 38s; }

/* this is the animation */
@keyframes cloudMove {
   0% { left: 100%; } /* from where to start */
  100% { left: -60px; } /* where to end */
}

#lives {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap:10px;
}

.heart {
    width: 30px;
    height: auto;
}

#score {
    position: absolute;
    top: 20px;     
    right: 20px;     
    font-size: 24px;
    font-weight: bold;
    color: #5b4842;    
}


#ground {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 120px;
    background-image: url('../images/ground.png');
    background-repeat: repeat-x;
    animation: groundScroll 2s linear infinite;
}

@keyframes groundScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


#game-end {
    display: none;
    align-items: center;           
    justify-content: center;       
    height: 100vh;
    background-color: #fdf2d5;
}

.game-over-content {
    display: flex;
    align-items: center;           
    gap: 50px;                     
}

.game-over-text {
    display: flex;
    flex-direction: column;        
    align-items: flex-start;      
    gap: 20px;
}

.game-over-text h1 {
    font-size: 48px;
    margin: 0;
    color: #5b4842;
}

.alpaca-resting {
    height: 400px;                 
    width: auto;
}

/* alpaca running */
.alpaca-running {
    position: absolute;
    animation: runMove 0.5s steps(2) infinite;
}

@keyframes runMove {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-2px) rotate(-1deg); }
    100% { transform: translateY(0) rotate(0deg); }
}
